[Unit]
Description=Pi Display
After=network.target

[Service]
Type=simple
Forking=true
Restart=always
ExecStart=/root/network-rgb-matrix-display/bin/start-matrix-server.sh

[Install]
WantedBy=multi-user.target
