[Unit]
Description=Pi Display
After=network.target

[Service]
Type=simple
Forking=true
Restart=always
ExecStart=/root/network-rgb-matrix-display/build/matrix-server /root/network-rgb-matrix-display/build/rgb-server.ini

[Install]
WantedBy=multi-user.target
